//colors
$black: #1d1b26;
$white: #ffffff;
$light-grey: #f5f4f4;
$silver: #838a91;
$amaranth: #fd2d55;
$lavender: #ffeaee;
$pale-red: #fe7993;



//font-weights
$font-weights: (
    "light": 300,
    "regular": 400,
    "semi-bold": 500,
    "bold": 700,
    "xtra-bold": 900,
);


